<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link href="static/favicon.png" rel="icon">
  
  <title>About Me</title>  

<link href="static/assets/main.3da94fde.css" rel="stylesheet"></head>

<body>

<!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./resume.html" title="">Curriculum Vitae</a></li>
        </ul>

       


      </nav> 
    
    </div>
  </nav>
</header>
<div class="section-container content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-6">
                    <img src="static/images/img-profile.jpg" class="img-responsive" alt=""> 
                </div>
                <div class="col-md-6">
                    <h1 class="h2">Arpita Soni</h1>
                    <p>I am an Economics student with a knack for programming. Having graduated from Miranda House, I am currently in my final year of Post Graduation in Econ from Delhi School of Economics. Ever since I discovered my love for programming, I have not stopped educating myself about Python and Machine Learning. As much as I despise the ups & downs of a bumpy car ride, I love the volatility of graphs.<br />
                    Au contraire my analytical side, I love to paint. Books are 'mi escape' from the stress of daily lives. Being a foodie, I enjoy cooking variegated dishes. Also, I am a trained Bharatanatyam dancer. Though travelling makes me feel alive, I find solace in an evening with friends &family.</p>
                    <p>Click on the links below to contact me:</p>

                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto: arpita21soni@gmail.com" title="" class="link-like-text">email</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/arpita-soni-503364128/" title="" class="link-like-text">linkedin</a>
                        </li>
                        <li>
                            <a href="https://github.com/arpita21soni" title="" class="link-like-text">github</a>
                        </li>
                        <li>
                            <a href="https://www.kaggle.com/arpita21soni" title="" class="link-like-text">kaggle</a>
                        </li>
                        <li>
                            <a href="https://discord.com/channels/@Arpita_2107#1045" title="" class="link-like-text">discord</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="static/assets/main.4c6e144e.js"></script></body>

</html>