<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link href="static/favicon.png" rel="icon">
  
  <title>Curriculum Vitae</title>  

<link href="static/assets/main.3da94fde.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./resume.html" title="">Curriculum Vitae</a></li>
          
        </ul>

        


      </nav> 
    
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number"></span>Curriculum Vitae</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Academic Qualifications</h3>
                <p>Delhi School of Economics | M.A. Economics<br/>
                Miranda House | B.A.(Hons) Economics</p>
              </div>

              <h4>Skills & Activities</h4>
              
              <ul class="list-unstyled">
                <li>Machine Learning, Python & R</li> 
                <li>Technical Analysis</li>
                <li>MS-Excel</li>
              </ul>
              

              <p>Debate, Basketball & TT</p>
              <p>Bharatnatyam & Painting</p>
          </div>
          <div class="col-md-8">
            <h3>Internships and Projects:</h3>
            <p>One</p>
              <p> Two            </p>
            <h3>Positions of Responsibility:</h3>
            <p>fill this</p>
          </div>
        </div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="static/assets/main.4c6e144e.js"></script></body>

</html>